<h2>New Artwork Edit</h2>
<form method="post" action="/newchunks/<%= @newchunk.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value="<%= @newchunk.title %>"><br>
  <textarea type="text" name="text" value="<%= @newchunk.text %>"><br>
  <input type="url" name="video_link" value="<%= @newchunk.video_link %>"><br>
  <input type="url" name="image_link" value="<%= @newchunk.image_link %>"><br>
  <input type="url" name="sound_link" value="<%= @newchunk.sound_link %>"><br>
  <input type="submit" id="submit" value="submit" class="btn btn-primary"></input>
</form>