<h2>New Artwork Edit</h2>
<form method="post" action="/newchunks/<%= @newchunk.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value="<%= @newchunk.title %>"><br>
  <textarea type="text" name="text" value="<%= @newchunk.text %>"><br>
  <input type="url" name="video_link" value="<%= @newchunk.video_link %>"><br>
  <input type="url" name="image_link" value="<%= @newchunk.image_link %>"><br>
  <input type="url" name="sound_link" value="<%= @newchunk.sound_link %>"><br>
  <input type="submit" id="submit" value="submit" class="btn btn-primary"></input>
</form>

<form method="post" action="/newchunks/<%= @newchunk.id %>/delete">
<input type="hidden" name="_method" id="hidden" value="DELETE"></input><input type="submit" id="submit" value="Delete" class="btn btn-primary"></input>
</form>

<div><h2><a href="/<%=@project.pslug%>/index"><%=AUTOMATE THE SCENE TITLE HERE%></a></h2></div>
 <!--I need to display the current vote total on each, and where users can upvote their fav version of the scene- I'm gonna let everybody like anything once make it boolean so if the click again it will undo the like-->

 <div><h2><a href="/<%=@project.pslug%>/final_map">SCORE</a></h2></div>
