

<style type="text/css"> 


body{
    background-color: #fad2e0;
    color: #ff5d55;
    font-family: 'Audiowide', cursive;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
  }
   a {
    text-decoration: none;
    } 
    a:link {
      color: red;
    }
    a:visited {
      color: #ff0066;
    }
    a:hover {
      color: black;
    }

    /*.header{
     position: fixed;
     top: -69px;
     /*float: left;*/
     /*left: 16px;
     width: 1271px;
     height:168;
     background-color: white;
     z-index: 5;
     }
           */ #p-title {
              top: -69px;
     /*float: left;*/
     left: 16px;
     width: 1271px;
     height:168px;
     background-color: white;
     z-index: 5;
            }
              #name {
              position:relative;
              float: left;
            }
    .header::after {
      clear:both;
    }

    .wrapper{
     position: relative;
     float: left;
     left: 11px;
     width: 1267px;
     top:100px;
     background-color: orange;
     z-index: 0;
     min-height: 600px;
    }
    

    .left-side-title {
      position: relative;
       float: left;
       left: 3px;
       width: 98px;
      transform:rotate(-90deg);
              z-index: 5;
    }
              /*#o-title {
              font-family: 'Audiowide', cursive;
              font-size: 30px;
              letter-spacing: 4px;
              left: 2080px;
              top: 4318px;
              width: 344px;
              height: 67px;
              -webkit-transform: translateY(-100%) rotate(-90deg); 
                -moz-transform: translateY(-100%) rotate(-90deg); 
                /*-moz-transform-origin: right top; 
                -ms-transform: translateY(-100%) rotate(-90deg); 
                -o-transform: translateY(-100%) rotate(-90deg); 
                transform: translateY(-100%) rotate(-90deg);   
                -webkit-transform-origin: left bottom;
                -moz-transform-origin: left bottom;
                -ms-transform-origin: left bottom;
                -o-transform-origin: left bottom;
                transform-origin: left bottom;
            }
*/
    .second-from-left {
      position: relative;
       float: left;
       left: 9px;
       width: 343px;
       background-color: #fad2e0;


       
    }
          #oldchunk-text {  
          font-family: "Courier New", Courier, monospace;
          font-size: 10px;
          color:black;
          left: 118px;
          top: 60px;
          width: 344px;
          min-height: 250px;
          overflow:scroll;
        }

            .icon-box{
            position:fixed;
            top:388px;
            left:120px;
            width:250px; 
          }
                  #video {
                   position:relative;
                   float: left;
                   top:-40px;
                   height:40px;
                   width:40px;
                   margin-right: 20px;
                  }

                  #image {
                  position:relative;
                  top:-40px;
                  float:left;
                  height:40px;
                   width:40px;
                   margin-right: 20px;
                  }

                  #sound {
                  position:relative;
                  top:-40px;
                  float:left;
                  height:40px;
                   width:40px;
                  }


    .third-from-left {
      position: relative;
      float: left;
      left: 15px;
      width: 623px;
      background-color: #ccccff

    }
              #newchunk-text {
              font-family: "Courier New", Courier, monospace;
              font-size: 10px;
              color:black;
              left: 2080px;
              top: 318px;
              width: 344px;
              height: 67px;
              overflow:scroll;
            }
            
            #comment-show {
              border: 2px solid #ff3823;
              background-color:#fdf4f8;
              border-radius: 10px;
              font-size: 100%;
              color:black;
              width: 600px;
              height:225px;
              left:2622px;
              top:4659px;
            }
    


    .far-right {
      position: fixed;
       float: right;
       right: 3px;
       width: 179px;
       background-color: yellow;
     }

    
            
            #side-edit{
              font-size: 70px;
              letter-spacing: 17px;
              
              top: 220px;
              
              height: 110px;
              transform:rotate(-90deg);
              z-index: 5;
            }

            

            
.footer{
   position: relative;
   float: left;
   left: 10px;
   width: 1267px;
   height: 20px;
   background-color: #cfcfcf
}
           

           
   
    
    
    

</style>



  <div id="p-title"><a href="/<%=@project.pslug%>/index"><%=@project.title%></a></div>





<!-- AUTHOR OF THE NEWCHUNK -->

<div id="name"><%= @newchunk_author.username %></div>

 <!-- OLDCHUNK TITLE -->
  <div id="o-title"><%= @oldchunk.title %></div> -->
 

<!--OLDCHUNK TEXT
 -->  
<div id="oldchunk-text"><%= @oldchunk.text %></div><br>
   
<!-- THE FOUR CLICKABLE ICONS FOR THE VIDEO, PICS, SOUND, AND SCORE -->

<div id="video"><a href="<%= @newchunk.video_link %>" target="_blank"><img src="/images/video-camera.svg"></a></div>
          
<div id="image"><a href="<%= @newchunk.image_link %>" target="_blank"><img src="/images/camera.svg"></a></div>
          
<div id="sound"><a href="<%= @newchunk.sound_link %>" target="blank"><img src="/images/soundcloud.svg"></a></div>
        
         
<!--here is the stuff within the newchunk box-
-(votes, title, and text of new idea scene)- -->

<div><%= @newchunk.title %></div>

<div> votes <%= @vote_counts[@newchunk.id]%></div>

<div id="newchunk-text"><%= @newchunk.text %></div><br>
        

<!-- HERE IS WHERE USERS WILL COMMENT INTO THE FORM ABOUT A NEW IDEA OF ANOTHER USER- AND THEY WILL GET TO VOTE ON THEIR FAV. NEW VERSION  -->       
    
<form method="post" action="/newchunks/comment"><br>


<div id="comment-show" ><textarea  type="text" name="comment" placeholder="enter comment here"></textarea></div>
              
<div><input type="checkbox" id="vote-checkbox" name="vote" value="<%=@newchunk.id%>">vote</input></div>
              
<div><input type="submit" id="submit" value="submit" class="btn btn-primary">
<input type="hidden" name="id" value="<%=@newchunk.id%>"></div>
              
</form>

    <div class="comment-text">
        <% @comments.each do |comment| %>
        <%user = User.find_by_id(comment.user_id) %>
        <p><%= user.username %></p>
        <p><%= comment.text %></p><br>
        <%end%>

    </div>

<!-- DELETE BUTTON ;NEEDS ICON CLICKABLE  -->       
        
<div id="delete-button">
  
  <form method="post" action="/newchunks/<%= @newchunk.id %>/delete">
            
  <input type="hidden" name="_method" id="hidden" value="DELETE"></input>
  
  <input type="submit" id="submit" value="Delete" class="btn btn-primary"></input>
  
  </form>
        
  </div> 
      
  <!-- THE EDIT THE NEWCHUNK THINGY ON THE SIDE OF IT -->
  
  </div>
  <div class="far-right" id="side-edit"><a href='/newchunks/<%=@newchunk.id%>/edit'>EDIT</a>
  </div>
  
  <!-- "SCORE" CHECK OTHER WRITTEN CODE IN OLDCHUNKS/OLDCHUNKS -->
  <div class="footer"><h2><a href="/<%=@project.pslug%>/final_map">SCORE</a></h2></div>
  



 