
<div><h2><a href="/<%=@project.pslug%>/index"><%=@project.title%></a></h2></div>
<h1>Individual Newchunk with all of its comments</h1>


<!--this is the code that lists all new art versions of the old scene, without listing the old scene itself-->

  <p><%= @oldchunk.title %></p><br>
  <p><%= @oldchunk.text %></p><br>

  <p><%= @newchunk.title %></p>title<br>
  <p><%= @newchunk.text %></p>text with new idea<br>
  <p><%= @newchunk.video_link %></p>video icon<br>
  <p><%= @newchunk.image_link %></p>image icon<br>
  <p><%= @newchunk.sound_link %>sound</p>sound<br>
  <p> votes <%= @vote_counts[@newchunk.id]%></p>
 


<form method="post" action="/newchunks/comment"><br>
<textarea type="text" name="comment" placeholder="enter comment here"></textarea><br>
<% if Like.find_by(user_id: current_user.id, newchunk_id: @newchunk.id) == nil %>
<input type="checkbox" id="" name="vote" value="<%=@newchunk.id%>">vote</input>
<%end%>
<input type="submit" id="submit" value="submit" class="btn btn-primary">
<input type="hidden" name="id" value="<%=@newchunk.id%>">
</form>

<% @comments.each do |comment| %>
 <%user = User.find_by_id(comment.user_id) %>
 <p><%= user.username %></p>
 <p><%= comment.text %></p>
 <br>
 <%end%>




 <a href='/newchunks/<%=@newchunk.id%>/edit'>EDIT</a>

 <form method="post" action="/newchunks/<%= @newchunk.id %>/delete">
<input type="hidden" name="_method" id="hidden" value="DELETE"></input><input type="submit" id="submit" value="Delete" class="btn btn-primary"></input>
</form>

 <div><h2><a href="/<%=@project.pslug%>/final_map">SCORE</a></h2></div>


 <!--I need to display the current vote total on each, and where users can upvote their fav version of the scene- I'm gonna let everybody like anything once make it boolean so if the click again it will undo the like-->