<p>Here are your chunks, <%= @user.username %></p>


<% @user.oldchunks.each do |oldchunk| %>
 
 <p><%= oldchunk.title %></p>
 <p><%= oldchunk.text %></p><br>
 <% end %>
 
<% @user.newchunks.each do |newchunk| %>
 
 <p><%= newchunk.title %></p>
 <p><%= newchunk.text %></p>
 <p><%= newchunk.image_link %></p>
 <p><%= newchunk.video_link %></p>
 <p><%= newchunk.sound_link %></p><br>
 <% end %>