
<h1><a href='/projects'>HYPERMEDIA WONDERLAND</a></h1>
<h2><%=@project.title%></h2>

<!--the title of the platform should always nav the user back to the original projects list-->



<h3>Index of Scene Structure</h3>

<div>


    <h4>scenes</h4>

    <!--this is a link to the add an oldchunk SCENE and TITLE to the list of source scenes-->
    <h5><a href='/<%=@project.pslug%>/oldchunk/new'>create scene</a></h5>

    <% @oldchunks.each do |oldchunk| %>
   
   <div><h2><a href="/<%=@project.pslug%>/<%=oldchunk.oslug%>/index"><%= oldchunk.title %></a></h2></div>
   <div><p><%= oldchunk.text %></p></div>
   <% end %>

  <!--this is a list of all the current USERS on a project w link to their show page of all their contributions to this projects-->
  <% @users.each do |user| %>
  <h2><a href='/users/<%=user.slug%>/show'><%= user.username %></a></h2>
   <% end %>


  <!--the word SCORE should always nav the user to the performance score of all the highest voted versions of each scene in order-->
  <h1><a href='/<%=@project.pslug%>/final_map'>SCORE</a></h1>

</div>
