
<style>





</style>



<div>Here are the highest ranking versions of scenes, <%= @project.title %></div> 



<%@highest_votes.each do |newchunk|%>
<div><%= newchunk.title %></div>
 <div><%= newchunk.text %></div>
 <div><%= newchunk.image_link %></div>
 <div><%= newchunk.video_link %></div>
 <div><%= newchunk.sound_link %></div>
 <% end %>



 